<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145078839676-l7qo10knv94buh9hedq23juhfo8tk5r1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145078839676-l7qo10knv94buh9hedq23juhfo8tk5r1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>145078839676-091d679srcjfn3ukip6jhtlv4ol2o3te.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC0m8arsy9yiRXYdPZ0N93IcBm1fwKAvw0</string>
	<key>GCM_SENDER_ID</key>
	<string>145078839676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.hitspot</string>
	<key>PROJECT_ID</key>
	<string>hitspot-2092c</string>
	<key>STORAGE_BUCKET</key>
	<string>hitspot-2092c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145078839676:ios:592e3e7ddb0b7b23135cf9</string>
</dict>
</plist>