<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Hitspot</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>hitspot</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hitspot.app</string>
				<string>app.hitspot</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.145078839676-l7qo10knv94buh9hedq23juhfo8tk5r1</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FlutterDeepLinkingEnabled</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
		<string>baidumap</string>
		<string>iosamap</string>
		<string>waze</string>
		<string>yandexmaps</string>
		<string>yandexnavi</string>
		<string>citymapper</string>
		<string>mapswithme</string>
		<string>osmandmaps</string>
		<string>dgis</string>
		<string>qqmap</string>
		<string>here-location</string>
		<string>tomtomgo</string>
		<string>copilot</string>
		<string>com.sygic.aura</string>
		<string>nmap</string>
		<string>kakaomap</string>
		<string>tmap</string>
		<string>szn-mapy</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Our app needs access to your camera to allow you to take photos and videos directly within the app. This will enable you to capture moments and share them instantly with your friends and followers.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Hitspot needs access to your location, to provide full user experience. Creating a spot or accessing the map of spots needs your location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Hitspot needs access to your location, to provide full user experience. Creating a spot or accessing the map of spots needs your location.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Our app requests access to your microphone to enable audio recording for voice messages, video creation, and other interactive features. This will help you communicate and create content more effectively.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Our app requires access to your photo library to enable you to upload and share your favorite photos. This will allow you to customize your profile and create posts with your own images.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app requires access to your calendar to help manage event scheduling and reminders.</string>
	<key>NSContactsUsageDescription</key>
	<string>This app requires access to your contacts to allow you to connect with people in your network and share locations with friends.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app requires access to your Apple Music library to enhance your experience with personalized music suggestions and playlists.</string>
	<key>NSMotionUsageDescription</key>
	<string>This app requires access to motion data to track your steps and offer location-based recommendations based on your activity.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app requires access to speech recognition for hands-free controls and voice command features.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app requires access to Bluetooth to discover nearby devices and enhance user connectivity features.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
